@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

*,
*::before
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    box-sizing: border-box;

    color: #272727;
    font-family: 'Quicksand', serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    /* padding: 1rem; */
}



a{
    text-decoration: none;
}

ul{
    list-style: none;
}

p{
    font-size: 1.6rem;
}

img{
    width: 20%;
    max-width: 100%;
    height: auto;
}

section{
    padding: 5rem 0;
}

/* body{
    background-color: cornflowerblue;
} */

header{
    width: 100%;
    height: 5rem;
     position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 

}

.container{
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    display: flex;
    
}


nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    
}

.nav-brand{
    width: 2rem;

}

.menu-icons i{
    font-size: 3.5rem;
    color: #fafafa;
    cursor: pointer;
    
}

.close i{
    color: rgb(0, 0, 0);
}

.nav-list{
    width: 22rem;
    height: 100vh;
    background-color: #A2DBFA;
    color: #fafafa;
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
    
}

.nav-list.active{

    right: 0;
}



.close{
    position: absolute;
    top: 1rem;
    left: 1.5rem;

}

.nav-item{
    margin: 1.5rem 0;
    color: #ff0101;

}

.nav-link{
    font-size: 1.6rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 7);
}

/* hero */
.hero{
    width: 100%;
    height: 95vh;
}

.main-message{
    width: 92%;
    max-width: 50rem;
    color: #fafafa;
    text-transform: uppercase;
    transform: translateY(20%);
    margin-top: 30px;


}

.main-mesaage h3{
    font-size: 1.6rem;
    margin-top: 37px;
}

.main-mesaage h3{
    font-family: 'Aldrich' , sans-serif;
    font-size: 4rem;
    margin: 1rem 0;
    
}
.main-mesaage p{
    text-transform: lowercase;
}

.btnn{
    background-color: #1954a0;
    border-radius: 2rem;
    text-decoration: none;
    color: #fafafa;
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    transition: background-color 650ms;
}

.btnnn{
  background-color: #1954a0;
  border-radius: 2rem;
  text-decoration: none;
  color: #fafafa;
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  transition: background-color 650ms;
}

.btnn:hover{
    background-color: #dd295f;
    text-decoration: none;
    color: white;

}

.btnnn:hover{
  background-color: #dd295f;
  text-decoration: none;
  color: white;

}

.experience-outdoors{
    padding: 0;
}

.tittle-heading{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10rem;
    color: rgba(0, 0, 0,.7);
}

.tittle-hedding h3{
    font-size: 1.4rem;
}

.tittle-hedding h1{
    font-family: 'Aldrich', sans-serif;
    font-size: 2rem;
    /* 
     */
}


.tittle-hedding p{
    text-transform: lowercase;
}

.activities-gride{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-row-gap: 2.5rem;
}
.activities-gride-item{
    height: 40rem;
    padding: 5rem;
    /* color: #fafafa; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 1;

}

/* .card-img-top {
    width: 79%;
    max-width: 100%;
    height: auto;
} */

.tests{
    background-image: fixed;
}

.test-text-box{
    /* position: absolute;
    top: -8rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 8rem; */
    color: rgb(0, 0, 0);
    /* opacity: .5;
    z-index: -1; */
}

/* .test-donor img{
    width: 100%;
} */
/* 
.titre-cards{
    margin-left: 26%;
    color: rgb(0 123 255 / 50%);
} */

.icon-container {
    margin: 30px 447px;
    padding: 23px;
}

/* .icon-container img {
    width: 74%;
    max-width: 100%;
    height: auto;
} */

.titre-icons{
    color: rgb(0 123 255 / 50%);
    margin: 15%;
    text-transform: uppercase;
    font-size: 2rem;
    /* transform: translateY(10%); */
}

.tooltip1 img:hover .tooltiptext {
    visibility: visible;
  }
   .tooltip1 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 98%;
    border: 1px solid #ddd;
    margin-left: 20px;
    }

    th, td {
    text-align: left;
    padding: 8px;
    }

    tr:nth-child(even){background-color: #c9e6f4}

    .table-title {
        font-size: 20vh;
        margin-left: 13%;
        font-family: 'Merriweather', serif;
    }

    p.table-title2 {
        font-size: 6vh;
        /* text-underline-offset: inherit; */
        text-decoration: underline overline #FF3028;
        margin-left: 27%;
        margin-bottom: 3%;
    }

   

    /* form */
    

    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      
      input[type=submit] {
        width: 100%;
        background-color:rgb(39, 111, 145) ;
        color: #e0f7fa;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: rgb(39, 111, 145);
      }
      
     .form-liste {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        margin: 0 20%;
      }

      .position{
          width: 80%;
          margin:auto;
          padding: 88px;

      }

      .position iframe{
          width: 100%;
      }
      .contact{
          width: 80%;
          margin:auto;
      }
     .contact-col{
         flex-basis: 48%;
         margin-bottom: 30px;
     }

     .contact-col div{
         display: flex;
         align-items: center;
         margin-bottom: 40px;
     }

     .contact-col div fa{
         font-size: 28px;
         color: rgb(112, 98, 98);
         margin: 10px;
         margin-right: 60px;
     }

     .contact-col div p{
        padding: 0;
     }
     .contact-col div h5{
         font-size: 20px;
         margin-bottom: 5px;
         color: rgba(107,188,226,1);
         font-weight: 400;
     }
     .contact-col div span{
         background-color: none;
     }

     .contact-col input, .contact-col textarea{
         width: 100%;
         padding: 15px;
         margin-bottom: 17px;
         outline: none;
         border: 1px solid #ccc;
         box-sizing: border-box;
     }
     .contact-col .contact-button{
        background-color: white; 
        color: black; 
        border: 2px solid #008CBA;
     }
     .contact-col.button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }

      /* annimation */



      .main{
        max-width: 1200px;
        margin: 0 auto;
      }
      
      h1 {
          font-size: 24px;
          font-weight: 400;
          text-align: center;
      }
      
      img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
      }
      
      .btn {
        color: #ffffff;
        padding: 0.8rem;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 4px;
        font-weight: 400;
        display: block;
        width: 100%;
        cursor: pointer;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: transparent;
      }
      
      .btn:hover {
        background-color: rgba(255, 255, 255, 0.12);
      }
      
      .cards {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      .cards_item {
        display: flex;
        padding: 1rem;
      }
      
      @media (min-width: 40rem) {
        .cards_item {
          width: 50%;
        }
      }
      
      @media (min-width: 56rem) {
        .cards_item {
          width: 33.3333%;
        }
      }

      @media (max-width: 48.75rem) {
        .btn  {
          display: none;
        }
      }
      
      .card {
        background-color: white;
        border-radius: 0.25rem;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        overflow: hidden;
      }
      
      .card_content {
        /* padding: 1rem; */
        background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
      }
      
      .card_title {
        color: #ffffff;
        font-size: 1.1rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: capitalize;
        margin: 0px;
      }
      
      .card_text {
        color: #ffffff;
        font-size: 0.875rem;
        line-height: 1.5;
        margin-bottom: 1.25rem;    
        font-weight: 400;
      }
      .made_by{
        font-weight: 400;
        font-size: 13px;
        margin-top: 35px;
        text-align: center;
      }





      .icon-container img {
        width: 56%;
        max-width: 58%;
        height: auto;
    }

    .card_section{
        margin: 100px;
    }

    /* //footer */
    .footer-clean {
        padding:50px 0;
        background-color:#fff;
        color:#4b4c4d;
      }
      
      .footer-clean h3 {
        margin-top:0;
        margin-bottom:12px;
        font-weight:bold;
        font-size:16px;
      }
      
      .footer-clean ul {
        padding:0;
        list-style:none;
        line-height:1.6;
        font-size:14px;
        margin-bottom:0;
      }
      
      .footer-clean ul a {
        color:inherit;
        text-decoration:none;
        opacity:0.8;
      }
      
      .footer-clean ul a:hover {
        opacity:1;
      }
      
      .footer-clean .item.social {
        text-align:right;
      }
      
      @media (max-width:767px) {
        .footer-clean .item {
          text-align:center;
          padding-bottom:20px;
        }
      }
      
      @media (max-width: 768px) {
        .footer-clean .item.social {
          text-align:center;
        }
      }
      
      .footer-clean .item.social > a {
        font-size:24px;
        width:40px;
        height:40px;
        line-height:40px;
        display:inline-block;
        text-align:center;
        border-radius:50%;
        border:1px solid #ccc;
        margin-left:10px;
        margin-top:22px;
        color:inherit;
        opacity:0.75;
      }
      
      .footer-clean .item.social > a:hover {
        opacity:0.9;
      }
      
      @media (max-width:991px) {
        .footer-clean .item.social > a {
          margin-top:40px;
        }
      }
      
      @media (max-width:767px) {
        .footer-clean .item.social > a {
          margin-top:10px;
        }
      }
      
      .footer-clean .copyright {
        margin-top:14px;
        margin-bottom:0;
        font-size:13px;
        opacity:0.6;
      }

      
      .invalidFeedback {
        color: #ff0000;
        display: block;
    }
      
      
  
  






