

*,
*::before
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

p{
    font-size: 1.6rem;
}

img{
    width: 20%;
    max-width: 100%;
    height: auto;
}

section{
    padding: 5rem 0;
}

/* body{
    background-color: cornflowerblue;
} */

header{
    width: 100%;
    height: 5rem;
     position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 

}

.container{
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    display: flex;
    
}


nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    
}

.nav-brand{
    width: 2rem;

}

.menu-icons i{
    font-size: 3.5rem;
    color: #fafafa;
    cursor: pointer;
    
}

.close i{
    color: rgb(0, 0, 0);
}

.nav-list{
    width: 22rem;
    height: 100vh;
    background-color: #A2DBFA;
    color: #fafafa;
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
    
}

.nav-list.active{

    right: 0;
}



.close{
    position: absolute;
    top: 1rem;
    left: 1.5rem;

}

.nav-item{
    margin: 1.5rem 0;
    color: #fafafa;

}

.nav-link{
    font-size: 1.6rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 7);
}

/* hero */
.hero{
    width: 100%;
    height: 95vh;
}

.main-message{
    width: 92%;
    max-width: 50rem;
    color: #fafafa;
    text-transform: uppercase;
    transform: translateY(20%);
    margin-top: 30px;


}

.main-mesaage h3{
    font-size: 1.6rem;
    margin-top: 37px;
}

.main-mesaage h3{
    font-family: 'Aldrich' , sans-serif;
    font-size: 4rem;
    margin: 1rem 0;
    
}
.main-mesaage p{
    text-transform: lowercase;
}

.btnn{
    background-color: #eb648c;
    border-radius: 2rem;
    color: #fafafa;
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    transition: background-color 650ms;
}

.btnn:hover{
    background-color: #dd295f;

}

.experience-outdoors{
    padding: 0;
}

.tittle-heading{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10rem;
    color: rgba(0, 0, 0,.7);
}

.tittle-hedding h3{
    font-size: 1.4rem;
}

.tittle-hedding h1{
    font-family: 'Aldrich', sans-serif;
    font-size: 2rem;
    margin: 5rem 0 1rem;
}


.tittle-hedding p{
    text-transform: lowercase;
}

.activities-gride{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-row-gap: 2.5rem;
}
.activities-gride-item{
    height: 40rem;
    padding: 5rem;
    /* color: #fafafa; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 1;

}

.card-img-top {
    width: 79%;
    max-width: 100%;
    height: auto;
}

.tests{
    background-image: fixed;
}

.test-text-box{
    /* position: absolute;
    top: -8rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 8rem; */
    color: rgb(0, 0, 0);
    /* opacity: .5;
    z-index: -1; */
}

/* .test-donor img{
    width: 100%;
} */

.titre-cards{
    margin-left: 26%;
    color: rgb(0 123 255 / 50%);
}

.icon-container {
    margin: 30px 51px;
    padding: 23px;
}

.icon-container img {
    width: 74%;
    max-width: 100%;
    height: auto;
}

.titre-icons{
    color: rgb(0 123 255 / 50%);
    margin: 15%;
    text-transform: uppercase;
    font-size: 2rem;
    /* transform: translateY(10%); */
}

.tooltip1 img:hover .tooltiptext {
    visibility: visible;
  }
   .tooltip1 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 98%;
    border: 1px solid #ddd;
    margin-left: 20px;
    }

    th, td {
    text-align: left;
    padding: 8px;
    }

    tr:nth-child(even){background-color: #c9e6f4}

    .table-title {
        font-size: 20vh;
        margin-left: 13%;
        font-family: 'Merriweather', serif;
    }

    p.table-title2 {
        font-size: 6vh;
        /* text-underline-offset: inherit; */
        text-decoration: underline overline #FF3028;
        margin-left: 27%;
        margin-bottom: 3%;
    }

   

    /* form */
    

    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      
      input[type=submit] {
        width: 100%;
        background-color:rgb(39, 111, 145) ;
        color: #e0f7fa;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: rgb(39, 111, 145);
      }
      
     .form-liste {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        margin: 0 20%;
      }

      .position{
          width: 80%;
          margin:auto;
          padding: 88px;

      }

      .position iframe{
          width: 100%;
      }
      .contact{
          width: 80%;
          margin:auto;
      }
     .contact-col{
         flex-basis: 48%;
         margin-bottom: 30px;
     }

     .contact-col div{
         display: flex;
         align-items: center;
         margin-bottom: 40px;
     }

     .contact-col div fa{
         font-size: 28px;
         color: rgb(112, 98, 98);
         margin: 10px;
         margin-right: 60px;
     }

     .contact-col div p{
        padding: 0;
     }
     .contact-col div h5{
         font-size: 20px;
         margin-bottom: 5px;
         color: rgba(107,188,226,1);
         font-weight: 400;
     }
     .contact-col div span{
         background-color: none;
     }

     .contact-col input, .contact-col textarea{
         width: 100%;
         padding: 15px;
         margin-bottom: 17px;
         outline: none;
         border: 1px solid #ccc;
         box-sizing: border-box;
     }
     .contact-col .contact-button{
        background-color: white; 
        color: black; 
        border: 2px solid #008CBA;
     }
     .contact-col.button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }

      /* annimation */
  
  






