

*,
*::before
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

p{
    font-size: 1.6rem;
}

img{
    width: 20%;
    max-width: 100%;
    height: auto;
}

section{
    padding: 5rem 0;
}

/* body{
    background-color: cornflowerblue;
} */

header{
    width: 100%;
    height: 5rem;
     position: absolute;
    top: 0;
    left: 0;
    /* z-index: 1;  */

}

.container{
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    display: flex;
    
}


nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    
}

.nav-brand{
    width: 2rem;

}

.menu-icons i{
    font-size: 3.5rem;
    color: #fafafa;
    cursor: pointer;
    
}

.close i{
    color: rgb(0, 0, 0);
}

.nav-list{
    width: 22rem;
    height: 100vh;
    background-color: #A2DBFA;
    color: #fafafa;
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
    
}

.nav-list.active{

    right: 0;
}



.close{
    position: absolute;
    top: 1rem;
    left: 1.5rem;

}

.nav-item{
    margin: 1.5rem 0;
    color: #fafafa;

}

.nav-link{
    font-size: 1.6rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 7);
}

/* hero */
.hero{
    width: 100%;
    height: 95vh;
}

.main-message{
    width: 92%;
    max-width: 50rem;
    color: #fafafa;
    text-transform: uppercase;
    transform: translateY(20%);


}

.main-mesaage h3{
    font-size: 1.6rem;
    margin-top: 37px;
}

.main-mesaage h3{
    font-family: 'Aldrich' , sans-serif;
    font-size: 4rem;
    margin: 1rem 0;
    
}
.main-mesaage p{
    text-transform: lowercase;
}

.btnn{
    background-color: #eb648c;
    border-radius: 2rem;
    color: #fafafa;
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    transition: background-color 650ms;
}

.btnn:hover{
    background-color: #dd295f;

}

.experience-outdoors{
    padding: 0;
}

.tittle-heading{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10rem;
    color: rgba(0, 0, 0,.7);
}

.tittle-hedding h3{
    font-size: 1.4rem;
}

.tittle-hedding h1{
    font-family: 'Aldrich', sans-serif;
    font-size: 2rem;
    margin: 5rem 0 1rem;
}


.tittle-hedding p{
    text-transform: lowercase;
}

.activities-gride{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-row-gap: 2.5rem;
}
.activities-gride-item{
    height: 40rem;
    padding: 5rem;
    /* color: #fafafa; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 1;

}

.card-img-top {
    width: 79%;
    max-width: 100%;
    height: auto;
}

